body {
  font-family: "Robotoregular", Arial, sen-sans-serif;
  width: 100%;
  font-weight: 900;
}

.header {
  padding: 0 10% 28% 30%;
  text-align: right;
  background: center  no-repeat url('pics/header.jpg');
  background-size: cover;
  color: white;
}

.menu {
  padding: 4% 0 9% 0;
  font-family: "Robotoregular", Arial, sen-sans-serif;
}

.header__menu_link {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  transition: opacity .5s;
  font-size: 18px;
}
.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  opacity: .5;
}

#hamburger__toggle {
  opacity: 0;
}

.header__text {
  padding-left: 60%;
  padding-bottom: 20px;
}

.header__button {
  padding: 10px 50px;
  text-decoration: none;
  background: #E0036F;
  color: white;
  transition: opacity .5s;
}

.header__button:hover {
  opacity: .5;
}

.main {
  text-align: center;
  padding: 60px 0;
  background: #E3EAFE;
}

.main__info {
  width: 43%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main__text {
  color: #585858;
  font-size: 30px;
  font-weight: 500;
}

.main__price {
  color: #263B83;
  margin-bottom: 20px;
  font-size: 30px;
}

.main__button {
  margin: auto;
  margin-bottom: 15px;
  padding: 10px 60px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  background: #FFDA45;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.main__link {
  text-decoration: none;
  color: #585858;
  font-size: 20px;
  transition: text-decoration .5s;
}

.main__link:hover {
  text-decoration: 2px underline #FFDA45;
}

.section__container {
  background: #405DBB;
  color: white;
  display: flex;
  justify-content: space-between;
}

.section__container__content {
  width: 29%;
  padding: 8% 2% 8% 7%;
}

.section__button {
  margin: auto;
  padding: 17px 30px;
  text-decoration: none;
  background: #FFDA45;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  color: black;
  trasition: opacity .5s;
}

.section__button:hover {
  opacity: .5;
}

.footer__info {
  background: #E3EAFE;
  text-align: center;
}

.footer__text {
  color: #585858;
  padding: 70px 40%;
  font-weight: 500;
}

.footer__pics {
  width: 75%;
  margin: auto;
}

.footer__pic {
  width: 22%;
  padding: 0 5px 45px 0;
}

.footer__nav {
  background: #0E1E71;
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer__loc {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  margin-left: 10%;
}

.footer__contact {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  margin-bottom: 11%;
  margin-right: 10%;
}

.loc__pic {
  padding-right: 5px;
}

.info__pic {
display: flex;
flex-direction: row;
}

.info__numbers {
  padding-right: 10px;
}

.info__pic-phone {
  padding-right: 10px;
  vertical-align: baseline;
}

@media (max-width: 1040px ) {
  .hamburger-menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.hamburger__btn > span,
.hamburger__btn > span::before,
.hamburger__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}
.hamburger__btn > span::before {
  content: '';
  top: -8px;
}
.hamburger__btn > span::after {
  content: '';
  top: 8px;
}

.menu__link:hover {
  background-color: gray;
}
#hamburger__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#hamburger__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#hamburger__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#hamburger__toggle:checked ~ .menu {
  visibility: visible;
  left: 0;
}
.menu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #263B83;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__link {
  display: block;
  padding: 12px 24px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.section__pic {
  margin: auto;
}


}

@media (max-width: 367px)  {
  .menu {
    width: 100%;
  }

}
